body{
    background-color: #111111;
}
.leaderboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111111;
    font-family: 'Barlow', monospace;
    border-radius: 5px;
}

.leaderboardPlayers{
    display:flex;
    flex-direction: column;
    width: 60%;
    max-width: 900px;
    gap: 10px;
}

.podium{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.podium > :first-child {
    grid-column: 1 / -1;
}

.leaderboardRowContainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 34, 33);
    border-radius: 5px;
    min-width: 100%;
    margin-bottom: 20px;
    padding-bottom: 50px;
}

.leaderboardHeader{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    font-weight: bold;
    padding: 15px 0px;
    border-bottom: solid 1px rgb(78, 78, 78);
}

