body{
    background-color: #111111;
}
.leaderboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboardPlayers{
    display:flex;
    flex-direction: column;
    width: 60%;
    max-width: 900px;
}

.podium{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.podium > :first-child {
    grid-column: 1 / -1;
}

.leaderboardRowContainer{
    display: flex;
    flex-direction: column;
    background-color: red;
}