.container{
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', monospace;
    align-items: center;
    background-color: rgb(33, 34, 33);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.accountInfoContainer{
    display: grid;
    grid-template-columns: 50px 200px;
    align-items: center;
}

.rankInfoContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.leaderboardRankTwo{
    color: #cfc8c8;
    font-size: 2em;
    font-weight: bold;
}

.leaderboardRankThree{
    color: rgb(159, 96, 3);
    font-size: 2em;
    font-weight: bold;
}

.gameName{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px;
}
.tagLine{
    font-weight: bold;
    color: grey;
    margin: 0px;
}

.tier{
    margin: 0px;
    font-weight: bold;
}

.lp{
    color: grey;
}

.rankContainer{
    display: flex;
    flex-direction: column;
}

.playerRecord{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accountInfo{
    display: flex;
    gap: 10px;
}

.winRate, .winlossCount{
    margin: 0px;
}

.winRate{
    font-weight: bold;
}

.winlossCount{
        color: grey;
}

.emblem{
    height: 50px;
    width: 50px;
}

.profileIcon{
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: 2px #ff9b00 solid;
}

.nameTag{
    display: flex;
    flex-direction: column;
}

.gameName:hover{
    text-decoration: underline;
    cursor: pointer
}
