.container{
    display: flex;
    margin: 10px;
    background-color: rgb(33, 34, 33);
    height: 150px;
    min-width: 60%;
    justify-content: left;
    font-family: 'Barlow', monospace;
    border-radius: 5px;
    gap: 10px;
    background-image: 
    linear-gradient(
        to right,
        rgba(33, 34, 33, 1) 12%,
        rgba(28, 134, 88, 0) 90%
    ),
    url('/rank1background.jpg');

    background-repeat: no-repeat;
    background-position: right center;
    background-size: 250px auto;
}

.leaderboardRank{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff9b00;
    font-size: 3rem;
    font-weight: bold;
    padding: 0px 20px; 
    min-width: 40px;
    background-color: rgb(38, 38, 38);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.accountInfoContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.rankInfoContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.accountInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileIcon{
    width: 70px;
    height: 70px;
    border-radius: 3px;
    border: 2px #ff9b00 solid;
}

.gameName{
    font-size: 2rem;
    font-weight: bold;
    margin: 0px;
}
.tagLine{
    font-weight: bold;
    color: grey;
    margin: 0px;
}

.tier{
    margin: 0px;
    font-weight: bold;
}

.lp{
    color: grey;
}

.rankContainer{
    display: flex;
    flex-direction: column;
}

.playerRecord{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.winRate, .winlossCount{
    margin: 0px;
}

.winRate{
    font-weight: bold;
}

.winlossCount{
        color: grey;
}

.emblem{
    height: 80px;
    width: 80px;
}

.gameName:hover{
    text-decoration: underline;
    cursor: pointer
}
