.detailsContainer{
    display: flex;
    flex-direction: column;
}

.detailsNavBar{
    display: flex;
    flex-direction: row;
}

.teamRedDetails{
    display: flex;
    flex-direction: column;
}

.teamBlueDetails{
    display: flex;
    flex-direction: column;
}

.detailsHeader{
    display: flex;
    flex-direction: row;
    gap: 4em;
    background-color: gray;
    border-radius: 5px;
}