.detailsContainer{
    display: flex;
    flex-direction: column;
}

.detailsNavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0em 0em;
    border-top: 1px dashed rgb(143, 141, 141);
    padding: 12px 0px;
}

.navBarTab{
    box-sizing: border-box;
    background-color: rgb(37, 36, 36);
    padding: 10px;
    border-radius: 5px;
}
.summonerTeamDetails, .enemyTeamDetails{
    display: flex;
    flex-direction: column;
}

.detailsHeaderDefeat {
    display: grid;
    grid-template-columns: 36% 11% 12% 11% 8.5% 12.5% 10%;    
    background-color: #5c2a1c;
    padding: 0px 10px;
    border-top: 1px solid #e14040;
    border-bottom: 1px solid #e14040;    
}

.detailsHeaderVictory{
    display: grid;
    grid-template-columns: 36% 11% 12% 11% 8.5% 12.5% 10%;    
    background-color: #1e3a5f;
    padding: 0px 10px;
    border-top: 1px solid #3b6ea5;
    border-bottom: 1px solid #3b6ea5;
}

.gameOutcome{
    font-weight: bold;
}
