.postGameContainer{
    display: flex;
    flex-direction: column;
}

.summonerTeamDetails, .enemyTeamDetails{
    display: flex;
    flex-direction: column;
}

.gameOutcome{
    font-weight: bold;
}

.defeat {
    display: grid;
    grid-template-columns: 36% 11% 12% 11% 8.5% 12.5% 10%;    
    background-color: #5c2a1c;
    padding: 0px 10px;
    border-top: 1px solid #e14040;
    border-bottom: 1px solid #e14040;    
}

.victory{
    display: grid;
    grid-template-columns: 36% 11% 12% 11% 8.5% 12.5% 10%;    
    background-color: #1e3a5f;
    padding: 0px 10px;
    border-top: 1px solid #3b6ea5;
    border-bottom: 1px solid #3b6ea5;
}
