.container{

}

.runeContainer{
    display: flex;
}

.primaryTreeContainer{
    display:flex;
    flex-direction: column;
}

.secondaryTreeContainer{
    display:flex;
    flex-direction: column;
}

.primaryTreeIcon{
    width: 35px;
    height: 35px;
}