.matchBox{
    position: relative;
    display: flex;
    border-radius: 5px;
    justify-content: left;
    margin: 10px 20px 0px 20px;
    background-color: #0f0f0f;
    border: 1px solid rgba(233, 225, 225, 0.5);

}
.contentBox{
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
    color: #d9d4d4;
}
.championIcon{
    border-radius: 8px;
    width: 60px;
    height: 60px;
    border: 1px solid #2a2a2a;
}
.box2{ /*This is direction row, as we want champ, rune, spells to be 3 sepeparate columns*/
    display: flex; 
    flex-direction: row;
    align-items: center;
}
.summonerBox, .runeBox{ /*These are column as we want them stacked vertically on top of each other*/
    display: flex;
    flex-direction: column;
}

.box4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.summonerSpell{
    border-radius: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid #2a2a2a;

}
.rune{
    border-radius: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid #2a2a2a;
}
.box3, .box1{
    text-align: center;
    color: #d0d0d0;

}
.box5{
    gap: 2em;
}

.box5, .summonerEntry{
    display: flex;
    flex-direction: row;
}
.teamList{
    display: grid;
    grid-template-columns: 1fr;
}

.champIcon{
    border-radius: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid #2a2a2a;
}

.kdaTotal, .kdaRatio, .cs, .vision, .box1{
    margin: 5px 0px 5px 10px;
}

.gameResult{
    border-radius: 3px;
    background-color: #1e3a5f;
    border: 1px solid #3b6ea5;
    color: #d6ecff;
}


