.container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(233, 225, 225, 0.5);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.contentBox {
    display: flex;
    font-family: monospace;
    align-items: center;
    gap: 2em;
    color: #d9d4d4;
    cursor: pointer;

}

.box1Text, .gameLoss, .gameWin{
    margin: 0px;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.championIcon{
    border-radius: 8px;
    width: 55px;
    height: 55px;
    border: 1px solid #2a2a2a;
}
.box2{ /*This is direction row, as we want champ, rune, spells to be 3 sepeparate columns*/
    display: flex; 
    flex-direction: row;
    align-items: center;
    
}
.summonerBox, .runeBox{ /*These are column as we want them stacked vertically on top of each other*/
    display: flex;
    flex-direction: column;
    width: 25px;
}

.box4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item{
    border-radius: 3px;
    width: 25px;
    height: 25px;
}
.box1{
    text-align: center;
    color: #d0d0d0;
    width: 100px
}

.box3{
    text-align: center;
    color: #d0d0d0;
    width: 85px;
}

.box5, .summonerEntry{
    display: flex;
    flex-direction: row;

}

.box5{
    gap: 2em;
}

.teamList1, .teamList2{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
}

.champIconMini{
    border-radius: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid #2a2a2a;
}

.kdaTotal, .kdaRatio, .cs, .vision, .box1{
    margin: 5px 0px 5px 10px;
}

.gameWin{
    border-radius: 3px;
    background-color: #1e3a5f;
    border: 1px solid #3b6ea5;
    color: #d6ecff;
    max-width: 7em;
    min-width: 3em;
    padding: 2px 3px;
}
.gameLoss{
    border-radius: 3px;
    background-color: #5c2a1c;
    border: 1px solid #e14040;
    color: #d6ecff;
    max-width: 7em;
    min-width: 3em;
    padding: 2px 3px;
}

.summonerName, .summonerEntry{
  overflow: hidden;         
  text-overflow: ellipsis;  
  white-space: nowrap;         
  width: 12ch;     
  text-decoration: none;
  color: #d0d0d0;
}

.summonerName:hover{
    text-decoration: underline;
}

.searchedSummonerName{
  overflow: hidden;         
  text-overflow: ellipsis;  
  white-space: nowrap;         
  width: 12ch;     
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.summonerSpell{
    box-sizing: border-box;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    border: 1px solid #2a2a2a;
    min-width: 27px;
    min-height: 27px;
}

.rune{
    width: 25px;
    height: 25px;
}

.secondaryRuneTree{ 
    width: 18px;
    height: 18px;
}

.itemSlot{
    display: flex;
    align-items: center;
    border: 1px solid #2a2a2a;
    border-radius: 3px;
    min-height: 25px;
    min-width: 25px;
    background-color: rgb(30, 27, 27);
}

.runeSlot{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a2a2a;
    border-radius: 3px;
    min-height: 25px;
    min-width: 25px;
}

.matchDetails{
    
}
