body{
    background-color: rgb(33, 34, 33);
}
.contentContainer{
    display:flex;
    flex-direction: column;
    font-family: var(--font-satoshi), 'Barlow', monospace;
    font-weight: 100;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.landingContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.landingText{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landingImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.65);

}

.siteName {
    font-size: 9vh;
    font-weight: 500;
}

.tagline {
    font-size: 3vh;
    font-weight: 500;
    margin: 0px;

}

.description{
    font-size: 2.5vh;
    font-weight: 500;
    max-width: 40ch;
    margin: 0px;
}

.cardContainer{
    display: flex;
    align-items: stretch;
    gap: 1em;
    margin: 30px 0px;
}

.mainImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale() opacity(.4);
    transition: filter .25s ease-out, transform .25s ease-out;
}

.searchCardWrapper {
    position: relative;
    width: 40vw;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}


.subCardContainer{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.leaderboardCardWrapper, .championCardWrapper{
    position: relative;
    width: 35vw;
    border-radius: 5px;
    overflow: hidden;
}

.leaderboardCardWrapper{
    cursor: pointer;
}

.subImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale() opacity(.4);
    transition: filter .25s ease-out, transform .25s ease-out;
}


.searchCardWrapper:hover .mainImage {
    filter: grayscale(0%);
    transform: scale(1.03);
}

.leaderboardCardWrapper:hover .subImage{
    filter: grayscale(0%);
    transform: scale(1.03);
}

.championCardWrapper:hover .subImage{
    transform: scale(1.03);
    filter: grayscale(80%);

}


.searchCardText{
    font-size: 3vw;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.leaderboardCardText, .championCardText{
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.subText{
    font-weight: normal;
    font-size: 1.5vw;
    color: rgb(132, 134, 132);
    margin: 0;
}

.subCardSubText{
    font-weight: normal;
    font-size: 1.2vw;
    color: rgb(132, 134, 132);
    margin: 0;
}

.comingSoon{
    font-weight: normal;
    font-size: 18px;
    color: rgb(132, 134, 132);
    margin: 0;
    transition: color 0.4s ease;
}

.championCardWrapper:hover .comingSoon{
    color: rgb(203, 51, 51);
}

.leftbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 5%;        
  height: 100vh;     
  background-color: rgb(11, 11, 11);
  z-index: 1000;       
  border-right: 1px solid rgb(71, 71, 71);
}

.rightbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 5%;          
  height: 100vh;
  background-color: rgb(11, 11, 11);
  z-index: 1000;
  border-left: 1px solid rgb(71, 71, 71);
}

.horizontalborder {
  position: relative; 
  z-index: 9999;      
  border: 0.5px solid rgb(71, 71, 71);
  width: 100%;
  margin-bottom: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.features{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: rgb(11, 11, 11);
    padding: 1.5em;
    width: 100%;
    box-sizing: border-box;
}