.text {
    font-family: system-ui, "Segoe UI";
}

.searchbar {
    border-radius: 4px;
    width: 70vh;
    height: 55px;
    border: none;
    outline: none;
    color: gray;
    font-size: 17px;
    padding-left: 65px;
    background-color: rgba(255, 255, 255); 

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(161, 167, 191, 0.2),rgba(27, 2, 12, 0.8)), url(../public/T1_Splashart.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer{
    position: relative;
}

input::placeholder {
  color: rgb(167, 167, 167);
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}


.dropdownButton {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgb(69, 92, 138);
    border-radius: 3px;
    width: 45px;
    height: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    position: absolute;
    top: 130%;
    left: 0px;
    max-height: 160px;
    overflow-y: auto;
    background-color: rgb(69, 92, 138);
    border-radius: 4px;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.option {
    width: 45px;
    height: 35px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover {
    background-color: rgb(73, 108, 146);
}

.regionText{
    margin: 0;
}

.searchIcon{
    width: 35px;
    height: 35px;
}

.searchButton {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}