
.container{
    display:flex;
    flex-direction: column;
    font-family: var(--font-satoshi), 'Barlow', monospace;
    font-weight: 500;
    width: 100%;
}

.navigationContainer{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em;
    background-color: rgb(11, 11, 11);
    z-index: 100;
}

.github{
    border: 0.5px white solid;
    margin: 0px;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: inherit
}

.github:hover{
    background-color: rgb(38, 38, 38);
}


.linkContainer{
    display: flex;
    gap: 1em;
}

.link{
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

.horizontalborder {
  position: relative; 
  z-index: 9999;      
  border: 0.5px solid rgb(71, 71, 71);
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
}

.link:hover{
    color: rgb(165, 164, 164);
}