.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-satoshi), 'Barlow', monospace;
    max-width: 70%;
    margin: 2em auto;
    background-color: #111111;
    border-radius: 5px;
    gap: 1em;
}

.championContainer{
    display: flex;
    margin-top: 1em;
    align-items: center;
    gap: 1em;
}

.championInfo{
    display: flex;
    flex-direction: column;
}

.championName{
    margin: 10;
}

.rateContainer{
    display: flex;
    gap: 1em;
}

.rate{
    padding: 20px;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
}

.championIcon{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 2px solid gold;
}

.runeContainer{
    display: flex;
    flex-direction: column;
}

.runeHeader{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    border-radius: 5px;
    margin: 0;
}